name: Pull Request

on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  # changesets:
  #   runs-on: ubuntu-latest
  #   if: ${{ github.actor == 'dependabot[bot]' }}
  #   steps:
  #     - name: Dependabot Changesets
  #       uses: feelepxyz/dependabot-changesets@v1

  checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Yarn
        run: npm i --global yarn@1

      - name: Install/Build
        run: |
          yarn
          yarn build:libs

      - name: Archive graal type introspection
        uses: actions/upload-artifact@v3
        with:
          name: graal-type-introspection
          path: packages/graal-type-introspection/index.d.ts
          retention-days: 3
          if-no-files-found: error

      - name: Typecheck
        run: yarn typecheck:all

  e2e:
    runs-on: ubuntu-latest
    needs: [checks]

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Yarn
        run: npm i --global yarn@1

      - name: Install/Build
        run: |
          yarn
          yarn build:libs

      - name: Test
        run: |
          chmod +x ./packages/yamjs-plugin/gradlew
          yarn e2e ci:test
